apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: java
  name: {{ include "spring-helm-sample.fullname" . }}
  labels:
    {{- include "spring-helm-sample.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "spring-helm-sample.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        rollme: { { randAlphaNum 5 | quote } }
#        { { - if .Values.podAnnotations } }
#        { { toYaml .Values.podAnnotations | trimSuffix "\n" | indent 8 } }
#        { { - end } }
      labels:
        {{- include "spring-helm-sample.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "spring-helm-sample.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.server.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: {{ .Values.server.contextPath }}/actuator/health/liveness
              port: {{ .Values.server.port }}
            initialDelaySeconds: 60
            periodSeconds: 5
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: {{ .Values.server.contextPath }}/actuator/health/readiness
              port: {{ .Values.server.port }}
            initialDelaySeconds: 60
            periodSeconds: 5
            timeoutSeconds: 5
          lifecycle:
            preStop:
              exec:
                command: [ "sh", "-c", "sleep 10" ]
          env:
            {{ toYaml .Values.env | nindent 12 }}
          envFrom:
            {{ toYaml .Values.envFrom | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
